# OS
.DS_Store
Thumbs.db

# Node / build
node_modules/
dist/
build/

# Docker
*.log

# Kubernetes / Helm build artifacts
helm/**/charts/
helm/**/tmp/
helm/**/values.local.yaml

# Jenkins
.jenkins/

# IDE
.vscode/
.idea/

# System
*.swp
*.tmp
